ENVIRONMENT="production"  #production || development
BASE_URL="/agendatutorias/public"
DB_HOST="localhost" # or IP
DB_PORT="3306"
DB_SOCKET=""
DB_USER="usr_db"
DB_PASSWORD="mypassword123"
DB_NAME="db_name";