@font-face {
    font-family: GillSansBold;
    src: url(fonts/GillSansBold.otf);
}

@font-face {
    font-family: GillSansRegular;
    src: url(fonts/GillSans.otf);
}

h2, h4
{
    font-family: GillSansBold;
}

body {
    font-family: GillSansRegular;
}

p
{
    font-family: GillSansRegular;
}

@media only screen and (max-width: 576px) {
    .form 
    {
        padding-top: 10rem;
    }
}

.custom-button 
{
    background-color: #28AD56 !important;
}

.btn 
{
    background-color: #18529D !important;
}

.borderRed
{
    --tw-border-opacity: 1;
    border-color: rgba(239, 68, 68, var(--tw-border-opacity));
}

.borderGreen
{
    --tw-border-opacity: 1;
    border-color: rgba(16, 185, 129, var(--tw-border-opacity));
}

.imgLogin 
{
    width: 50%;
    height: 100%;
    position: fixed;
}

.pleca 
{
    background: #0D47A1;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    height: 2em;
    padding-right: 2em;
    padding-left: 2em;
}

.float-right 
{
    float: right!important;
}

a 
{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    font-family: GillSansRegular;
}

#colImg 
{
    padding-left: 0;
}

img 
{
    vertical-align: middle;
    border-style: none;
}

@media (min-width: 768px)
{
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 767px)
{
    #colImg {
        display: none;
    }
}

@media (max-width: 767px)
{
    .text
    {
        padding-left: 6.3rem !important;
    }
}